body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
}

body, ul {
  margin: 0;
  padding: 0;
}

h1, h2, .skills-list {
  font-family: 'Inknut Antiqua', serif;
  color: #005a4e;
}

img {
  /*this is limiting the widht of the image, so it takes 100% width of the parent maximum*/
  max-width: 100%;
}

nav {
  background-color: #f9e6e8;
  position: fixed;
  z-index: 1;
  width: 100%;
}

nav ul li {
  display: inline-block;
  margin: 0 15px; /*0 refers to top and bottom, 15 px to left and right*/
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

@media (max-width: 360px) {
  .navigation {
    padding: 20px;
  }
}
@media (max-width: 320px) {
  .navigation {
    padding: 10px 2px;
  }
}

@media (max-width: 645px) {
  .navigation__list.empty {
    margin: 0 calc(50% - 60px);
  }
}

li.empty {
  width: 90px;
  border-top: 1px solid black;
  top: -5px;
  position: relative;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li a:hover {
  text-decoration: underline;
}

header {
  top: 70px;
  position: relative;
  margin-bottom: 220px;
  background: url('../img/background1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -145px;
}

h1 {
  font-size: calc(60px + 2vw);
  line-height: 130%;
}

@media (max-width: 320px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 30px;
  line-height: 130%;
}

h1, h2 {
  font-weight: normal;
}

ul li {
  list-style: none;
  margin: 10px 0;
}

p {
  line-height: 150%;
}

.button {
  border: 1.5px solid #005a4e;
  text-decoration: none;
  color: #005a4e;
  padding: 10px 30px;
  margin-top: 40px;
  display: inline-block;
  border-radius: 20px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover {
  background: #005a4e;
  color: white;
}

figure {
  margin: 0;
}

@media (min-width: 576px) {
  .col-sm:first-child {
    padding-right: 35px;
  }

  .col-sm:last-child {
    padding-left: 35px;
  }
}

figcaption {
  font-size: 10px;
  margin-top: 10px;
}

.intro-img {
  box-shadow: 1px 2px 30px rgba(0,0,0,0.2);
  margin-top: 30px;
}

.skills-list {
  text-align: center;
  font-size: 50px;
  line-height: 150%;
  margin-bottom: 130px;
}

@media (max-width: 360px) {
  .skills-list{
    font-size: 27px;
    padding: 0 8px;
  }
}

.project{
  margin: 30px 0;
  padding: 50px;
}

.pink {
  background-color: #f9e6e8;
}

.project .button {
  margin-top: 10px;
}

footer {
  text-align: center;
  margin: 100px;
}

footer h2 {
  font-size: 30px;
  margin-bottom: 100px;
}

@media (max-width: 576px) {
  footer {
    margin: 60px;
  }
  footer h2 {
    font-size: 21px;
  }
}

@media (max-width: 360px) {
  footer {
    margin: 12px;
  }
  footer h2 {
    font-size: 17px;
  }
}


@media(max-width: 640px) {
  .resetted-link {
    overflow-wrap: break-word;
  }
}

.right-alignment {
  text-align: right;
}

.resetted-link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 576px) {
  .add-linkedin {
    max-width: 225px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .right-alignment + .col-sm figure {
    margin-top: 3em;
  }
}